__pycache__/

# translations
*.qm
*.mo

#setup.py
build/
dist/
jdTextEdit.egg-info/

#portable mode
jdTextEditData/

#options
jdTextEdit/commands.json
jdTextEdit/default_data
jdTextEdit/macros.json
jdTextEdit/distribution.json

#documentation
doc/build

#Trash
*.kate-swp

#Idea
.idea/
.run/
venv/

# Binary build
*.spec
*.exe
Output/
WindowsBuild/
