__pycache__/

#setup.py
build/
dist/
jdTextEdit.egg-info/

#portable mode
jdTextEdit/data

#options
jdTextEdit/commands.json
jdTextEdit/default_data
jdTextEdit/macros.json
jdTextEdit/distribution.json

#documentation
doc/build

#Trash
*.kate-swp
