include README.md
include jdTextEdit/Logo.png
include jdTextEdit/icons/*
include jdTextEdit/translation/*
include jdTextEdit/autocompletion/*
include jdTextEdit/templates/*
include jdTextEdit/plugins/pluginmanager/translation/*
include jdTextEdit/plugins/SpellChecker/translation/*