include jdTextEdit/Logo.svg
include jdTextEdit/version.txt
include jdTextEdit/data/*
include jdTextEdit/icons/*
include jdTextEdit/translations/*.ts
include jdTextEdit/autocompletion/*
include jdTextEdit/templates/*
include jdTextEdit/plugins/pluginmanager/manifest.json
include jdTextEdit/plugins/pluginmanager/translations/*
include jdTextEdit/plugins/SpellChecker/manifest.json
include jdTextEdit/plugins/SpellChecker/translations/*
include jdTextEdit/plugins/DBus/manifest.json
include jdTextEdit/plugins/DBus/interface.xml
include BuildBackend.py
global-include *.ui
exclude tools/*
