include README.md
include jdTextEdit/Logo.svg
include jdTextEdit/version.txt
include jdTextEdit/icons/*
include jdTextEdit/translation/*
include jdTextEdit/autocompletion/*
include jdTextEdit/templates/*
include jdTextEdit/plugins/pluginmanager/manifest.json
include jdTextEdit/plugins/pluginmanager/translation/*
include jdTextEdit/plugins/SpellChecker/manifest.json
include jdTextEdit/plugins/SpellChecker/translation/*
include jdTextEdit/plugins/DBus/manifest.json
include jdTextEdit/plugins/DBus/interface.xml
include jdTextEdit/i18n/*.qm
global-include *.ui
